<nav style="margin: 1vw;">
  <a style="margin-left: 2vw; display: flex; justify-content: center; align-items: center;" href="/"><img style="width: 30vw; " src="/logo.svg" alt=""></a>
  <ul style="margin-right: 2vw;">
    <li>
      <% if (user && user.role==='admin' ) { %>
        <a href="/admin/apartment/new">Añadir apartamento</a>
        <a href="/admin/reservations">Ver listado de reservas</a>
        <% } %>
    </li>
    <li>
      <% if (user) { %>
        <form action="/logout" method="POST" style="display:inline;">
          <button type="submit" class="btn--danger">Cerrar sesión</button>
        </form>
        <% } %>
    </li>
    <% if (!user) { %>
      <li>
        <a href="/login">Iniciar sesión</a>
      </li>
      <li>
        <a href="/register">Registrarse</a>
      </li>
      <% } %>

  </ul>
</nav>

<!-- To do: canviar els enllaços perquè portin a direccions específiques de la pàgina. Fer-ho al final -->